[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
piexif = "*"
pyyaml = "*"
py3exiv2 = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
